.#{$prefix}imgcode {
  @include border();
  @include clearfix();

  height: 34px;
  border-radius: $radius-size;

  &-input {
    float: left;
    width: 71.8%;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    font-size: 16px;
    color: $text-color-default;
  }

  &-code {
    @include border(left);

    width: 28.2%;
    height: 100%;
    float: left;
    border-radius: 0 $radius-size $radius-size 0;
    cursor: pointer;
  }
}
