.#{$prefix}imgcode-c {
  @include clearfix();

  height: 34px;
  border-radius: $radius-size;

  &-input {
    @include border();

    float: left;
    width: calc(100% - 30% - 64px);
    margin-right: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    font-size: 16px;
    color: $text-color-default;
    border-radius: $radius-size;
  }

  &-code {
    width: 30%;
    height: 100%;
    float: left;
    cursor: pointer;
  }
}
