.#{$prefix}drop {
  width: 100%;
  position: relative;

  &-hr {
    @include border(all, $border-color, 1px, dashed, true);

    flex-wrap: nowrap;
    flex: 1;
    height: 100%;
    margin-left: -1px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: move;
  }
}
