.#{$prefix}drop {
  width: 100%;

  &-drag {
    position: relative;
    z-index: 22;

    &-no1-drag {
      width: 200px;
      height: 200px;
      background: rgba(133, 10, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}
