.#{$prefix}login-c {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $mask-color;
    z-index: 505;
  }

  &-wrap {
    width: 440px;
    height: auto;
    background: $background-color-write;
    z-index: 1000;

    @include box-shadow(y);
  }

  &-header {
    @include border(bottom);

    height: 40px;
    background: $background-color-title;
    position: relative;
    font-size: 14px;

    &-inner {
      text-align: center;
      color: $text-color-default;
      line-height: 40px;
      font-size: 14px;
    }

    &-close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 6px;
      color: $icon-color;
      font-size: 28px;
      text-align: center;
      line-height: 20px;
      transform: rotate(45deg);
    }
  }

  &-main {
    width: 100%;
    padding: 16px;
    color: $text-color-default;
    font-size: 14px;
    position: relative;

    &-tipsText {
      font-size: 12px;
      color: $text-color-prompt;
      margin-bottom: 10px;
    }
  }

  &-tel {
    height: 32px;
    margin-bottom: 20px;

    &-prefix {
      height: 30px;

      &::before {
        bottom: 11px;
      }

      &-text {
        line-height: 30px;
      }
    }

    &-input {
      height: 30px;
      line-height: 32px;
      font-size: 14px;
    }
  }

  &-smscode {
    height: 32px;
    margin-bottom: 20px;
  }

  &-button-c {
    width: 100%;
    height: 32px;
    font-size: 14px;
  }

  &-type {
    text-align: center;

    &-weixin-icon {
      font-size: 40px;
    }

    &-account-icon {
      font-size: 40px;

      &::before {
        color: $brand-c-default;
      }
    }
  }

  &-weixin {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }
}
