.#{$prefix}steps-c {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-text {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-item {
      width: 100px;
      text-align: center;
    }
  }

  &-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    margin-top: 10px;

    &-flex {
      flex: 1;
      display: flex;
      align-items: center;
    }

    &-item-text {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 22px;
      text-align: center;
      color: $text-color-prompt;
      font-size: 12px;

      @include border(all, $text-color-prompt);
    }

    &-item-now {
      color: $background-color-write;
      background: $brand-c-default;

      @include border(all, $brand-c-default);
    }

    &-item-line {
      flex: 1;
      height: 1px;
      background: $text-color-prompt;

      &-active {
        background: $brand-c-default;
      }
    }
  }

  &-icon {
    font-size: 25px;

    &::before {
      color: $brand-c-default;
    }
  }
}
