// 只有边框按钮
@mixin link-colors($normal, $hover, $active, $normalbor, $hoverbor, $activebor) {
  background: #fff;
  color: $normal;
  border-color: $normalbor;

  &:hover {
    color: $hover;
    border-color: $hoverbor;
  }

  &:active {
    color: $active;
    border-color: $activebor;
  }
}

// 只有背景或者是背景和边框颜色一致的按钮
@mixin link-backgrounds($normal, $hover, $active) {
  color: #fff;
  border-color: $normal;
  background-color: $normal;

  &:hover {
    border-color: $hover;
    background-color: $hover;
  }

  &:active {
    border-color: $active;
    background-color: $active;
  }
}
