$button-icon-size: 16px;
$button-line-size: 2px;

.#{$prefix}inputmore-group {
  &-inputmore {
    margin: 0 0 16px;

    &:last-child {
      margin: 0;
    }
  }

  &-wrap {
    margin: 0 0 20px;

    &:last-child {
      margin: 0;
    }
  }
}
