$header-height: 34px;

.emfe-header-c {
  @include border(bottom);

  height: 35px;
  background: #fff;
  position: relative;
  z-index: 2;

  &-main {
    margin: 0 auto;
    width: 1040px;
    height: $header-height;

    a {
      text-decoration: none;
      color: #343436;

      &:hover {
        color: #fd883b;
      }
    }
  }

  &-eye {
    padding: 0 0 0 20px;
    float: left;
    height: $header-height;

    &-img {
      height: 25px;
      margin-top: 7px;
    }
  }

  &-sidebar {
    padding-left: 12px;
    font-size: 16px;
    color: $text-color;
  }

  &-info {
    float: right;
    padding: 0 32px;
    font-size: 12px;
    line-height: $header-height;
    display: flex;
  }

  &-account {
    padding-right: 24px;
  }

  &-signout {
    padding-left: 12px;
  }

  &-link {
    font-size: 12px !important;
    margin-right: 34px;
  }

  &-icon {
    color: $brand-c-default;
  }

  &-logout {
    font-size: 12px !important;
  }
}
