.#{$prefix}button {
  @include border();

  line-height: 16px;
  padding: 8px 24px;
  border-radius: $radius-size;
  text-align: center;
  font-size: 14px;
  font-family: '微软雅黑';
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear;

  &-default {
    @include button-colors($title-color, $btn-hover-color, $btn-active-color, $border-color, $btn-hover-color, $btn-active-color);

    &:disabled {
      color: $nothing-color;
      background: $border-color;
      border-color: $border-color;
      cursor: no-drop;
    }
  }

  &-primary {
    @include button-backgrounds($btn-color, $btn-hover-color, $btn-active-color);

    &:disabled {
      color: $nothing-color;
      background: $border-color;
      border-color: $border-color;
      cursor: no-drop;
    }
  }
}

.table td {
  border-top: 1px solid $border-color;
  padding: 10px 0;
}
