.#{$prefix}button {
  @include border();

  line-height: 14px;
  padding: 8px 24px;
  border-radius: $radius-size;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear;
  display: inline-block;

  &-icon {
    color: $icon-color-default;

    &::before {
      color: $icon-color-default;
    }
  }

  &-default {
    @include button-colors($text-color-default, $brand-color-hover, $brand-color-click, $button-color-default, $brand-color-hover, $brand-color-click);

    &:disabled {
      color: $text-color-disable;
      background: $background-color-disable;
      border-color: $background-color-disable;
      cursor: no-drop;
    }
  }

  &-primary {
    @include button-backgrounds($brand-color-default, $brand-color-hover, $brand-color-click);

    &:disabled {
      color: $text-color-disable;
      background: $background-color-disable;
      border-color: $background-color-disable;
      cursor: no-drop;
    }

    & > .emfe-button-icon {
      color: $nothing-color;
    }
  }

  &-group {
    overflow: hidden;

    &-button {
      @extend .#{$prefix}button;

      @include button-colors($title-color, $btn-hover-color, $btn-active-color, $border-color, $btn-hover-color, $btn-active-color);

      float: left;
      padding: 8px;
      border-radius: 0;
      margin-right: -1px;
      position: relative;
      z-index: 1;

      &:hover {
        z-index: 2;
        transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear, z-index 0.1s linear;
      }

      &-on {
        color: $nothing-color;
        background: $btn-color;
        border-color: $border-on-color;
        // z-index: 2;

        &:hover {
          color: $nothing-color;
        }
      }
    }
  }
}
