.#{$prefix}button {
  @include border();

  line-height: 16px;
  padding: 8px 24px;
  border-radius: $radius-size;
  text-align: center;
  font-size: 14px;
  font-family: '微软雅黑';
  cursor: pointer;
  margin: 10px;
  box-sizing: border-box;
  transition: color 0.1s linear, background-color 0.1s linear, border 0.1s linear;

  &-default {
    @include button-colors($text-color-default, $brand-color-hover, $brand-color-click, $button-color-default, $brand-color-hover, $brand-color-click);

    &:disabled {
      color: $background-color-write;
      background: $button-color-default;
      border-color: $button-color-default;
      cursor: no-drop;
    }
  }

  &-primary {
    @include button-backgrounds($brand-color-default, $brand-color-hover, $brand-color-click);

    &:disabled {
      color: $background-color-write;
      background: $button-color-default;
      border-color: $button-color-default;
      cursor: no-drop;
    }
  }
}

.table td {
  border-top: 1px solid $button-color-default;
  padding: 10px 0;
}
