*.iml
.idea
.ipr
.iws
*.diff
.tags*
*.patch
*.bak
.DS_Store
node_modules/
.project
.settings
.*proj
.svn/
*.swp
*.swo
*.log
*.log.*
*.ini
examples/dist/
yarn-error.log
test/unit/coverage
.vscode
$Recycle.Bin
