.#{$prefix}slide {
  width: 100%;

  &-main {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-describe {
    font-size: 14px;
    width: 78px;
    text-align: center;
    line-height: 32px;
  }

  &-progress {
    width: calc(100% - 156px);
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;

    &-bar {
      width: 100%;
      height: 8px;
      background: $background-color-write;

      &::-moz-progress-bar {
        background: $background-color-open;
      }

      &::-moz-progress-value {
        background: $auxiliary-color-success;
      }

      &::-webkit-progress-value {
        background: $auxiliary-color-success;
      }

      &::-webkit-progress-bar {
        background: $background-color-open;
      }
    }

    &-drag {
      width: 54px;
      height: 24px;
      background: $background-color-write;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      position: absolute;
      left: -27px;
      top: 0;

      @include border();

      &-left {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 5px solid $brand-color-default;
        border-bottom: 5px solid transparent;
        display: block;
      }

      &-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $brand-color-default;
        display: block;
      }
    }
  }
}
