$header-height: 50px;

.emfe-header-c-new {
  height: $header-height;
  line-height: $header-height;
  background: #fff;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.12);
  color: #fff;
  background: -webkit-linear-gradient(104deg, #0896f8, #2aa6fd, #2aa6fd, #0297fe);
  background: -o-linear-gradient(104deg, #0896f8, #2aa6fd, #2aa6fd, #0297fe);
  background: -moz-linear-gradient(104deg, #0896f8, #2aa6fd, #2aa6fd, #0297fe);
  background: linear-gradient(104deg, #0896f8, #2aa6fd, #2aa6fd, #0297fe);
  
  a {
    color: #fff;
    
    &:hover {
      color: #fff;
    }
  }

  &-main {
    margin: 0 auto;
    width: 1100px;
    height: $header-height;
  }

  &-eye {
    float: left;
    height: $header-height;

    &-img {
      height: 27px;
      margin-top: 12px;
    }
  }

  &-sidebar {
    padding-left: 12px;
    font-size: 14px;
    color: $text-color;
  }

  &-info {
    float: right;
    padding: 0 0 0 32px;
    font-size: 14px;
    line-height: $header-height;
    display: flex;
  }

  &-account {
    padding-right: 40px;
    color: #fff;
  }

  &-signout {
    padding-left: 12px;
  }

  &-link {
    font-size: 14px !important;
    margin-right: 40px;
    color: #666;

    &:hover {
      text-decoration: none;
    }
  }

  &-icon {
    color: $brand-c-default;
  }

  &-logout {
    font-size: 14px !important;
    margin-left: 40px;

    &:hover {
      text-decoration: none;
    }
  }

  &-login {
    font-size: 14px !important;

    &:hover {
      text-decoration: none;
    }
  }

  &-button {
    width: 124px;
    height: 34px;
    border-radius: 0;
    margin-top: 8px;
    padding: 10px 0 !important;
  }

  &-erweima {
    text-align: center;

    &-img {
      width: 86px;
      height: 86px;
    }

    &-text {
      font-size: 12px;
      color: #999;
    }
  }
}
