.#{$prefix}crumbs {
  clear: both;
  height: 64px;
  line-height: 64px;
  background: $background-color-write;
  width: 100%;

  &-left {
    float: left;
    margin-left: 24px;

    & 
  }

  &-break {
    color: $text-color-prompt;
    margin: 0 15px;
  }

  &-right {
    float: right;

    & &-con{
      margin-left: 25px;

      & .icon-page-icon{
        color: $brand-color-default;
      }
    }
  }
}
