$header-height: 64px;

.#{$prefix}header {
  @include clearfix();
  @include box-shadow(y);
  @include border(bottom);

  height: $header-height;
  background: $background-color-write;
  // position: relative;
  z-index: 2;
  position: fixed;
  width: 100%;

  &-eye {
    padding: 12px 0 12px 32px;
    float: left;
    height: $header-height;

    &-img {
      cursor: pointer;
    }
  }

  &-sidebar {
    padding-left: 12px;
    font-size: 16px;
    color: $text-color;
  }

  &-info {
    float: right;
    padding: 0 32px;
    font-size: 14px;
    line-height: $header-height;
    display: flex;

    &-text {
      cursor: pointer;
      color: $title-color;

      &:hover {
        color: $btn-hover-color;
      }
    }

    &-hello {
      color: $title-color;
      margin: 0 10px;
    }
  }

  &-account {
    padding-right: 10px;
  }

  &-signout {
    padding-left: 12px;
  }
}
