$header-height: 56px;

.#{$prefix}header {
  @include clearfix();
  @include border(bottom);

  height: $header-height;
  background: $background-color-write;
  // position: relative;
  z-index: 2;
  position: fixed;
  width: 100%;

  &-eye {
    padding: 16px 0 16px 20px;
    float: left;
    height: $header-height;

    &-img {
      cursor: pointer;
    }
  }

  &-index {
    float: right;
    padding: 0 8px;
    font-size: 14px;
    line-height: $header-height;
  }

  &-controller {
    float: left;
    padding: 0 32px 0 20px;
    font-size: 14px;
    line-height: 56px;

    &-text {
      color: $thead-text-color;
      position: relative;
      font-size: 10px;
      transform: scale(0.8);
      transform-origin: left center;
      display: block;

      &::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 22px;
        width: 1px;
        height: 12px;
        background: $button-color-default;
      }
    }
  }

  &-sidebar {
    padding-left: 12px;
    font-size: 16px;
    color: $text-color;
  }

  &-info {
    float: right;
    padding: 0 32px;
    font-size: 14px;
    line-height: $header-height;
    display: flex;

    &-text {
      cursor: pointer;
      color: $title-color;
      font-size: 12px;

      &:hover {
        color: $btn-hover-color;
      }
    }

    &-hello {
      color: $title-color;
      margin: 0 10px 0 12px;
      font-size: 12px;
    }
  }

  &-account {
    padding-right: 10px;
  }

  &-signout {
    color: $text-color;
  }
}
