.#{$prefix}countdown {
  height: 70px;
  text-align: center;

  &-time,
  &-symbol {
    height: 70px;
    display: inline-block;
    font-size: 24px;
    line-height: 70px;
    color: $text-color-prompt;
  }

  &-time {
    @include border();

    border-radius: $radius-size;
    width: 54px;
    margin: 0 5px;
  }
}
