.#{$prefix}changecount {
  width: 50%;
  height: 28px;
  overflow: hidden;
  position: relative;

  &-box {
    width: 10px;
    word-wrap: break-word;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;

    &-count {
      font-size: 24px;
      height: 28px;
      line-height: 28px;
      font-weight: 600;
    }
  }
}
