.#{$prefix}footer-c {
  text-align: center;
  padding: 32px 0 26px;

  &-logo {
    height: 30px;
    display: block;
    margin: 0 auto;
  }

  &-text {
    font-size: 12px;
    padding-top: 20px;
    color: $text-color-prompt;
  }
}
