.#{$prefix}message {
  &-main {
    @include box-shadow(y);

    width: 640px;
    margin-left: -320px;
    position: absolute;
    top: 12px;
    left: 50%;
    border-radius: $radius-size;
  }

  &-success {
    background: $auxiliary-color-success;
  }

  &-info {
    background: $brand-color-default;
  }

  &-warning {
    background: $auxiliary-color-warning;
  }

  &-error {
    background: $auxiliary-color-danger;
  }

  &-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
  }

  &-text {
    line-height: 32px;
    padding: 0 32px;
    font-size: 12px;
    color: $background-color-write;
    word-break: break-all;
  }
}
