// 前缀
$prefix: 'emfe-';
// 屏幕设置
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;
// 栅格设置
$gridColumns: 24 !default;
// 字体设置
$ionicons-font-path: './iconfont/fonts';
$ionicons-font-family: 'Ionicons';
$ionicons-version: 'vjtjwq';
// tooltip 颜色
$tooltip-dark-color: rgba(70, 76, 91, 0.9);
$tooltip-light-color: rgba(25, 166, 0, 0.9);
$tooltip-arrow-size: 5px;
// 一级菜单宽度，大屏小屏
$menu-md-width: 155px;
$menu-sm-width: 65px;
// 圆角尺寸
$radius-size: 4px;

// 阴影的颜色
$shadow-color: rgba(0, 0, 0, 0.1);

// 边框默认颜色
$nothing-color: #fff;

// 边框默认颜色
$border-color: #dcdcdc;

// 边框选中颜色
$border-on-color: #1996f9;

// 字体图标的颜色
$icon-color: #8d8d8d;

// 标题的颜色
$title-color: #333;

// 文字的颜色
$text-color: #666;

// 导航文字的颜色
$menu-text-color: #454545;

// 整体body，html的背景色
$background-color: #f4f4f4;

// 选中的颜色
$background-on-color: #f2f9ff;

// 下拉题目的颜色
$background-twobar-color: #f4f4f4;

// 按钮默认颜色
$btn-color: #1996f9;

// 按钮悬停颜色
$btn-hover-color: #50affa;

// 按钮点击颜色
$btn-active-color: #147dd9;
