* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}
