.#{$prefix}date-m {
  font-size: 12px;
  position: relative;

  &-box {
    @include clearfix();

    width: 100%;
    background: $nothing-color;

    &-position {
      @include border();
      @include box-shadow(y);

      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 99999;
      border-radius: $radius-size;
    }
  }

  &-main {
    @include clearfix();

    width: 100%;
  } // end emfe-date-main

  &-item {
    @include height(500px);

    float: left;
    // overflow: auto;
    overflow: hidden;
    position: relative;
    width: calc(100% / 3);

    &:nth-of-type(2) {
      @include border(left);
      @include border(right);
    }

    &-hour {
      width: 100%;
    }

    &-minute {
      width: 50%;
    }
  }

  &-list {
    @include paddingTop(20px);

    &-item {
      @include font(28px);
      @include height(84px, 84px);
      @include paddingLeft(24px);

      color: $menu-text-color;

      &-on {
        background: $btn-color;
        color: $nothing-color;
      }

      &-disable {
        color: $border-color;
        cursor: not-allowed;
      }
    }
  }

  &-icon {
    @include height(84px, 84px);
    @include width(84px);
    @include font(28px);

    position: absolute;
    right: 8px;
    top: 0;
  }

  &-btn {
    @include height(84px, 84px);

    width: 100%;
    cursor: pointer;
    position: relative;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &-text {
      @include font(28px);
      @include paddingLeft(24px);
      @include paddingRight(24px);
      @include height(84px, 84px);

      text-align: left;
      display: block;
      color: $text-color;

      &-choice {
        color: $menu-text-color;
      }
    }
  } // end emfe-time-btn

  &-footer {
    @include paddingTop(20px);
    @include paddingBottom(20px);
    @include paddingLeft(20px);
    @include paddingRight(20px);

    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $border-color;
  }

  &-ok {
    @include font(28px);
    @include height(84px);
    @include paddingLeft(20px);
    @include paddingRight(20px);

    line-height: 1;
    background: $btn-color;
    color: $nothing-color;
    border-radius: $radius-size;
    cursor: pointer;
  }
}
