$header-height: 42px;

.#{$prefix}bar {
  @include border(right);

  width: 112px;
  background: $background-color-write;

  &-header {
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    font-size: 12px;
    color: $title-color;
    background: #ededed;
    cursor: pointer;
  }

  &-list {
    &-item {
      height: 40px;
      color: $title-color;
      font-size: 12px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;

      &:hover,
      &-on {
        color: $brand-color-default;
      }
    }
  }
} // end emfe-menu-bar
