$header-height: 48px;
$bar-top: 64px;

.#{$prefix}bar {
  @include border(right);

  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: scroll;
  background: $background-color-write;

  &-header {
    @include border(bottom);

    width: 100%;
    height: $bar-top;
    line-height: $bar-top;
    font-size: 14px;
    color: $text-color-default;
    padding-left: 24px;
  }

  &-item {
    position: relative;

    &-on {
      .emfe-bar-arrow {
        transform: rotate(0deg);
      }
    }
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    border-top-color: $text-color-Three;
    top: 20px;
    left: 13px;
    transition: transform 0.4s;
    transform: rotate(-90deg);
  }

  &-btn {
    color: $text-color-default;
    height: 48px;
    line-height: 48px;
    width: 100%;
    display: block;
    padding-left: 32px;
    cursor: pointer;

    &-disabled {
      color: $text-color-disable;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &-link {
    color: $text-color-Three;
    height: 48px;
    line-height: 48px;
    width: 100%;
    display: block;
    padding-left: 32px;

    &:hover {
      background: $brand-color-select;
      color: $brand-color-default;
    }

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }

    &-disabled {
      color: $text-color-disable;
      pointer-events: none;
      cursor: not-allowed;

      &:hover {
        background: none;
        color: $text-color-disable;
      }

      &:active {
        background: none;
        color: $text-color-disable;
      }
    }
  }

  &-link.router-link-active {
    background: $brand-color-select;
    color: $brand-color-default;

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }
  }

  &-childitem {
    height: 48px;
    width: 100%;
    display: block;
  }

  &-childlink {
    color: $text-color-Three;
    height: 48px;
    line-height: 48px;
    padding-left: 40px;
    width: 100%;
    display: block;

    &:hover {
      background: $brand-color-select;
      color: $brand-color-hover;
    }

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }

    &-disabled {
      color: $text-color-disable;
      pointer-events: none;
      cursor: not-allowed;

      &:hover {
        background: none;
        color: $text-color-disable;
      }

      &:active {
        background: none;
        color: $text-color-disable;
      }
    }
  }

  &-childlink.router-link-active {
    background: $brand-color-select;
    color: $brand-color-default;

    &:hover {
      background: $brand-color-select;
      color: $brand-color-hover;
    }

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }
  }
} // end emfe-menu-bar

.router-link-active.emfe-bar-link-disabled {
  cursor: pointer;
}
