// 滚动条默认显示样式
::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.3);
  -webkit-border-radius: 2px;
}

// 滚动条大小
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

// 滚动框背景样式
::-webkit-scrollbar-track-piece {
  background: none;
  -webkit-border-radius: 0;
}

.all {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &-title {
    height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 16px;
  }

  &-search {
    padding: 16px 0 0 16px;

    &-think {
      position: absolute;
      left: 8px;
      top: 32px;
      height: 120px;
      overflow: auto;
      width: calc(100% - 16px);

      &-item {
        background: #fff;
        line-height: 24px;
        padding: 0 8px;
      }
    }
  }

  &-main {
    height: calc(100% - 65px);
  }

  &-view {
    height: 100%;
    overflow: auto;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.1);
  }

  &-menu {
    height: 100%;

    &-content {
      height: calc(100% - 80px);
      margin-top: 16px;
      overflow: auto;
      width: calc(100% - 11px);
    }

    &-one {
      padding-left: 16px;

      &-title {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
      }

      &-item {
        margin: 0 0 0 16px;
        display: block;
        line-height: 48px;
        height: 48px;
        font-size: 14px;
      }
    }

    &-link {
      padding: 8px 0;

      &.router-link-active {
        border-bottom: 4px solid #1996f9;
      }
    }
  }
}
