@font-face {
  font-family: $ionicons-font-family;
  src: url("#{$ionicons-font-path}/#{$ionicons-font-file}.eot?t=#{$ionicons-version}");
  src: url("#{$ionicons-font-path}/#{$ionicons-font-file}.eot?t=#{$ionicons-version}#iefix") format("embedded-opentype"), url("#{$ionicons-font-path}/#{$ionicons-font-file}.ttf?t=#{$ionicons-version}") format("truetype"), url("#{$ionicons-font-path}/#{$ionicons-font-file}.woff?t=#{$ionicons-version}") format("woff"), url("#{$ionicons-font-path}/#{$ionicons-font-file}.svg?t=#{$ionicons-version}##{$ionicons-font-file}") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="emfe-icon-"],
[class*=" emfe-icon-"] {
  font-family: $ionicons-font-family !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  color: $icon-color-default;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
