.#{$prefix}crumb {
  @include clearfix();

  height: 64px;
  line-height: 64px;
  background: $background-color-write;
  width: 100%;

  &-left {
    float: left;
    margin-left: 24px;

    &-txt {
      float: left;
      font-size: 18px;
      line-height: 64px;
      padding-left: 16px;
      color: $text-color-default;
    }
  }

  &-link {
    position: relative;
    padding: 5px 16px 5px 0;
    height: 64px;
    line-height: 54px;
    float: left;
  }

  &-title-link {
    position: relative;
    padding: 5px 16px 5px 0;
    height: 64px;
    line-height: 54px;
    float: left;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      right: 0;
      width: 1px;
      height: 24px;
      background: $border-color;
    }
  }

  &-right {
    float: right;
  }
}
