$height: 40px;

.#{$prefix}crumb {
  @include clearfix();

  height: $height;
  line-height: $height;
  background: $background-color-write;
  width: 100%;
  border-bottom: 1px solid $button-color-default;

  &-left {
    float: left;
    margin-left: 24px;

    &-txt {
      float: left;
      font-size: 14px;
      line-height: $height;
      padding-left: 16px;
      color: $text-color-default;
    }
  }

  &-link {
    position: relative;
    padding: 5px 16px 5px 0;
    height: $height;
    line-height: $height - 10px;
    float: left;
    font-size: 14px;
  }

  &-title-link {
    position: relative;
    padding: 5px 16px 5px 0;
    height: $height;
    line-height: $height - 10px;
    float: left;

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      right: 0;
      width: 1px;
      height: 16px;
      background: $border-color;
    }
  }

  &-right {
    float: right;
  }
}
