$header-height: 48px;
$menu-top: 64px;

.#{$prefix}menu {
  @include clearfix();

  position: fixed;
  top: $menu-top;
  left: 0;
  height: 100%;
  font-size: 14px;
  z-index: 2;

  &-tooltip {
    margin: 0 auto;
  }

  &-iscroll {
    height: calc(100% - 48px);
    position: relative;
    overflow: auto;
  }

  &-main {
    @include box-shadow();

    width: $menu-md-width;
    height: calc(100% - 64px);
    float: left;
    position: relative;
    z-index: 2;
    background: $background-color-write;

    &-sidebar {
      font-size: 30px;
      line-height: 48px;
    }

    &-header {
      @include border(bottom);

      width: 100%;
      height: $header-height;
      line-height: $header-height;
      padding: 0 20px;
      cursor: pointer;
    }

    &-list {
      height: calc(100% - $header-height);
    }

    &-item {
      height: 48px;
    }

    &-text {
      width: 80px;
      height: 48px;
      overflow: hidden;
    }

    &-link {
      @include border(left, $background-color-write, 4px);

      color: $text-color-Three;
      height: 48px;
      line-height: 48px;
      // width: calc(100% - 4px);
      width: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background: $brand-color-select;
        color: $brand-color-hover;
      }

      &:active {
        background: $brand-color-select;
        color: $brand-color-click;
      }

      &-on {
        @include border(left, $brand-color-default, 4px);

        background: $brand-color-select;
        color: $brand-color-default;
      }
    }

    &-link.router-link-active {
      @include border(left, $brand-color-default, 4px);

      background: $brand-color-select;
      color: $brand-color-default;
    }

    &-icon {
      padding: 0 16px;
      font-size: 20px;
      line-height: 48px;
    }
  } // end emfe-menu-main

  &-minor {
    @include border(right);

    width: 120px;
    height: calc(100% - 64px);
    float: left;
    position: relative;
    z-index: 1;
    background: $background-color-write;

    &-iscroll {
      height: calc(100% - 64px);
      position: relative;
      overflow: auto;
    }

    &-header {
      @include border(bottom);

      width: 100%;
      height: $menu-top;
      line-height: $menu-top;
      font-size: 14px;
      color: $text-color-default;
      padding-left: 24px;
    }

    &-item {
      position: relative;

      &-on {
        .emfe-menu-minor-arrow {
          transform: rotate(0deg);
        }
      }
    }

    &-arrow {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 5px 0;
      border-top-color: $text-color-Three;
      top: 20px;
      left: 13px;
      transition: transform 0.4s;
      transform: rotate(-90deg);
    }

    &-btn {
      color: $text-color-default;
      height: 48px;
      line-height: 48px;
      width: 100%;
      display: block;
      padding-left: 32px;
      cursor: pointer;
    }

    &-link {
      color: $text-color-Three;
      height: 48px;
      line-height: 48px;
      width: 100%;
      display: block;
      padding-left: 32px;

      &:hover {
        background: $brand-color-select;
        color: $brand-color-default;
      }

      &:active {
        background: $brand-color-select;
        color: $brand-color-click;
      }
    }

    &-link.router-link-active {
      background: $brand-color-select;
      color: $brand-color-default;

      &:active {
        background: $brand-color-select;
        color: $brand-color-click;
      }
    }

    &-childitem {
      height: 48px;
      width: 100%;
      display: block;
    }

    &-childlink {
      color: $text-color-Three;
      height: 48px;
      line-height: 48px;
      padding-left: 40px;
      width: 100%;
      display: block;

      &:hover {
        background: $brand-color-select;
        color: $brand-color-hover;
      }

      &:active {
        background: $brand-color-select;
        color: $brand-color-click;
      }
    }

    &-childlink.router-link-active {
      background: $brand-color-select;
      color: $brand-color-default;

      &:hover {
        background: $brand-color-select;
        color: $brand-color-hover;
      }

      &:active {
        background: $brand-color-select;
        color: $brand-color-click;
      }
    }
  } // end emfe-menu-minor

  &-on {
    .emfe-menu-main {
      width: $menu-sm-width;
    }

    .emfe-menu-main-text {
      display: none;
    }
  } // end emfe-menu-on
}
