$header-height: 48px;
$minor-height: 40px;
$menu-top: 56px;
$height: calc(100% - 56px);

.#{$prefix}menu {
  overflow: hidden;
  padding-top: 56px;
  font-size: 12px;
  background: #373737;
  width: 110px;

  &-icon::before {
    color: #fff;
    font-size: 12px;
  }

  &-text {
    opacity: 0.6;
    color: #fff;
    margin-left: 8px;
    font-size: 12px;
  }

  &-header {
    height: 42px;
    padding: 12px 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.2);

      & .emfe-menu-text {
        opacity: 1;
      }
    }

    &-link {
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    &-text {
      opacity: 0.6;
      color: #fff;
      margin-left: 8px;
      font-size: 12px;
    }

    &:active,
    &-on {
      background: $menu-on-bg;

      &:hover {
        background: $menu-on-bg;

        & .emfe-menu-text {
          opacity: 1;
          color: $title-color;
        }
      }

      & .emfe-menu-header-text {
        opacity: 1;
        color: $title-color;
      }

      & .emfe-menu-icon {
        &::before {
          color: $title-color;
        }
      }
    }
  }

  &-list {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &-li {
      height: 42px;
      padding: 0 19px 0 20px;
      display: flex;
      align-items: center;
      justify-content: left;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.2);

        & .emfe-menu-text {
          opacity: 1;
        }
      }

      &:active,
      &-on {
        background: $menu-on-bg;

        &:hover {
          background: $menu-on-bg;

          & .emfe-menu-text {
            opacity: 1;
            color: $title-color;
          }

          & .emfe-menu-icon {
            &::before {
              color: $title-color;
            }
          }
        }

        & .emfe-menu-text {
          opacity: 1;
          color: $title-color;
        }

        & .emfe-menu-icon {
          &::before {
            color: $title-color;
          }
        }
      }
    }
  }
}
