$header-height: 48px;
$minor-height: 40px;
$menu-top: 56px;
$height: calc(100% - 56px);

.#{$prefix}menu {
  // @include clearfix();

  // position: fixed;
  // top: $menu-top;
  // left: 0;
  // height: 100%;
  // font-size: 14px;
  // z-index: 2;
  font-size: 12px;
  background: #373737;
  width: 110px;

  &-icon::before {
    color: #fff;
    font-size: 12px;
  }

  &-text {
    opacity: 0.45;
    color: #fff;
    margin-left: 8px;
    font-size: 12px;
  }

  &-header {
    height: 42px;
    padding: 12px 20px;
    margin-bottom: 20px;
    text-align: center;

    &-link {
      line-height: 18px;
      display: flex;
      align-items: center;
      justify-content: left;
    }

    &:hover,
    &-on {
      background: rgba(255, 255, 255, 0.2);

      & .emfe-menu-text {
        opacity: 1;
      }
    }
  }

  &-list {
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    &-li {
      height: 42px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: left;
      cursor: pointer;

      &:hover,
      &-on {
        background: rgba(255, 255, 255, 0.2);

        & .emfe-menu-text {
          opacity: 1;
        }
      }
    }
  }
}
