$header-height: 36px;
$bar-top: 64px;

.#{$prefix}bar-c {
  @include border();

  width: 120px;
  border-bottom: none;
  float: left;
  height: 100%;
  overflow: scroll;
  background: $background-color-main;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;

  &-item {
    position: relative;

    &-on {
      .emfe-bar-c-arrow {
        transform: translateY(16px) rotate(45deg);
      }
    }
  }

  &-arrow {
    display: block;
    float: right;
    width: 8px;
    height: 8px;
    border-left: 1px solid $text-color-Three;
    border-top: 1px solid $text-color-Three;
    border-radius: 1px;
    transition: transform 0.4s;
    transform: translateY(11px) rotate(-135deg);
    position: absolute;
    top: 0;
    right: 9px;
  }

  &-btn {
    @include border(bottom);

    color: $text-color-default;
    background: $background-color-open;
    height: 36px;
    line-height: 36px;
    width: 100%;
    display: block;
    padding-left: 30px;
    font-size: 12px;
    cursor: pointer;

    &-disabled {
      color: $text-color-disable;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &-link {
    @include border(bottom);

    color: $text-color-Three;
    background: $background-color-write;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    width: 100%;
    display: block;
    padding-left: 30px;

    &:hover {
      background: $brand-color-select;
      color: $brand-color-default;
    }

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }

    &-disabled {
      color: $text-color-disable;
      pointer-events: none;
      cursor: not-allowed;

      &:hover {
        background: none;
        color: $text-color-disable;
      }

      &:active {
        background: none;
        color: $text-color-disable;
      }
    }
  }

  &-link.router-link-active {
    background: $brand-color-select;
    color: $brand-color-default;

    &:active {
      background: $brand-color-select;
      color: $brand-color-click;
    }
  }

  &-childitem {
    height: 36px;
    width: 100%;
    display: block;
    background: $background-color-write;
  }

  &-childlink {
    @include border(bottom);

    color: $text-color-prompt;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    width: 100%;
    display: block;

    &:hover {
      background: $button-color-default;
      color: $text-color-Three;
    }
  }

  &-childlink.router-link-active {
    background: none;
    color: $brand-c-default;

    &:hover {
      background: none;
      color: $brand-c-default;
    }
  }
} // end emfe-menu-bar

.router-link-active.emfe-bar-link-disabled {
  cursor: pointer;
}
