.#{$prefix}radio {
  @include clearfix();

  font-size: 0;
  color: $title-color;
  letter-spacing: 1.08px;
  line-height: 14px;
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 16px 16px 0;

  &-img {
    width: 16px;
    height: 16px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;

    &-disabled {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAdJJREFUOBGVlD1PwlAUhtsSF0YThaEDEBJHJ2MiixMD/AaDUWZHV3XUH6K/QAYmF03QyZGEr6GoaMJWEmIA36e2pJRi8CQv99z3fNzbc87FNFZIp9NJyVQUWJGBUM/lcqxLYkaZXq93MJlMLsTvC/fCh++T1loWnmez2VU+n3/0+eWl1WqdCX3dpirnjagHnGyn8pkJlajd27fb7bLgOo5jxzqEyG63m8aXg0O0YYgocAoOC4Y/NhyomD6lwM3ixzTNS+E0m80G9TBGo5Et3Lqu+wbQ4fBHbNt2LMu68OtpmHRH395UN7aU7BsnAsS9St1kH5KhfHaTyaQD59fsS9wON6LFtSAJDpIbIZoEHg6bJ34MnS2SaFuYfxIeOumQNU5ibMSmvBrFBfyXI9GnsNAtXflhVaIYG7EDEtWFEoULBZ9LH4b2gQqHzRM/hmmvW/7baWiG5pNKV3TyrnAnp3eADhd0jEzq+JGWl/n7Y6gYrnWmmgQIw8sQCwX2XrEzmcyT9OvxeNxcZ7o5cDqdthVzHPt4lb2iNzQQTiI149BgAKvcXlh4Z0t/I1xVtbhU3J5QE4IZozsloZFIJK78r9D2V5YSBQaejnSmnoFFGJOVf2w/6xX6kYs/pCkAAAAASUVORK5CYII=);
    }

    &-tip {
      margin-top: 6px;
    }
  }

  &-inline {
    display: inline-block;
  }

  &-input {
    margin: 0;
    vertical-align: middle;
    position: absolute;
    top: 2px;
    left: 2px;
    opacity: 0;
    filter: alpha(opacity=0);

    &-tip {
      top: 8px;
    }
  }

  &-text {
    font-size: 14px;
    line-height: 16px;
    word-wrap: break-word;
    display: inline-block;
    padding-right: 4px;
    float: left;
    margin-left: 8px;

    &-notip {
      padding-right: 0;
      // width: calc(100% - 24px);
    }
  }

  &-slide {
    display: block;
    overflow: hidden;
    clear: both;
    margin-left: 7px;
    border-left: 1px dashed #dcdcdc;

    &-wrap {
      padding: 16px 16px 0;
      margin-top: 12px;
      width: 100%;
      height: auto;
      background: $background-color-open;
    }
  }

  &-group {
    @include clearfix();

    .#{$prefix}radio {
      &-inline {
        float: left;
      }
    }
  }

  &-tip-icon {
    font-size: 16px;
  }

  &-slot {
    height: 16px;
  }
}
