.#{$prefix}modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $mask-color;
    z-index: 505;
  }

  &-wrap {
    height: auto;
    background: $nothing-color;
    z-index: 1000;
    position: relative;
  }

  &-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-close {
      width: 20px;
      height: 20px;
      color: $border-color;
    }
  }

  &-header {
    @include border(bottom);

    width: 100%;
    padding: 10px;

    &-inner {
      text-align: center;
    }
  }

  &-main {
    width: 100%;
    padding: 10px;
  }

  &-footer {
    @include border(top);

    height: 44px;
    width: 100%;
    display: flex;
  }

  &-btn {
    flex: 1;
    text-align: center;
    line-height: 44px;

    &:first-child {
      @include border(right);
    }
  }
}
