.emfe-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 500;

  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 505;
  }

  &-wrap {
    width: 800px;
    height: auto;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
    margin: 0 auto;
    margin-top: 320px;
    position: relative;
  }

  &-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-close {
      width: 1.25rem;
      height: 1.25rem;
      color: #dcdcdc;
    }
  }

  &-header {
    width: 100%;
    height: 2.75rem;
    border-bottom: 1px solid #f5f5f5;

    &-inner {
      text-align: center;
      line-height: 2.75rem;
    }
  }

  &-main {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  &-footer {
    height: 2.75rem;
    width: 100%;
    border-top: 1px solid #f5f5f5;
    display: flex;

    div {
      flex: 1;
      text-align: center;
      line-height: 2.75rem;

      &:first-child {
        border-right: 1px solid #f5f5f5;
      }
    }
  }
}
