.#{$prefix}link {
  font-size: 14px;
  cursor: pointer;
  color: $btn-color;

  &:visited {
    color: $btn-color;
  }

  &:hover {
    color: $btn-hover-color;
  }

  &:active {
    color: $btn-active-color;
  }
}
