.#{$prefix}table {
  width: 100%;
  border-collapse: collapse;

  &-box {
    @include border();

    width: 100%;
    overflow: auto;
  }

  &-nothing {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: $nothing-color;
    color: $text-color-prompt;
    font-size: 14px;

    &-td {
      padding: 0 !important;
    }
  }

  &-head {
    width: 100%;

    &-tr {
      @include border(bottom);

      min-height: 48px;
      height: 48px;
      width: 100%;
      background-color: $background-color-title;

      &-th {
        box-sizing: border-box;
        padding: 0 16px;
        text-align: left;
        font-size: 14px;
        color: $text-color-prompt;
        letter-spacing: 0;
        line-height: 16px;

        &-checked {
          background: #f8dbd8;
        }

        &-div {
          white-space: nowrap;
        }
      }
    }
  }

  &-tr {
    min-height: 48px;
    height: 48px;
    background-color: $nothing-color;

    &:nth-child(2n) {
      background-color: $background-color-even;
    }

    &-hover {
      &:hover {
        background-color: $tr-hover-color;
      }
    }

    &-td {
      box-sizing: border-box;
      padding: 0 16px;
      text-align: left;
      font-size: 14px;
      color: $title-color;
      letter-spacing: -0.3px;
      line-height: 16px;

      &-checked {
        background: #ffefed;
      }

      &-div {
        white-space: nowrap;
        color: $text-color-default;
        padding: 8px 0;
        line-height: 1.5;

        &-required {
          color: $auxiliary-color-danger;
        }
      }
    }

    &-disabled {
      background-color: $background-color-main !important;

      &:hover {
        background-color: $tr-hover-color !important;
      }
    }
  }

  &-border {
    border-right: 1px solid $border-color;

    &:last-child {
      border-right: none;
    }
  }

  &-border-bottom {
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
