.#{$prefix}box {
  width: 100%;

  &-nothing {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: $nothing-color;
    border: 1px solid $border-color;
    color: #999;
    border-top: none;
    font-size: 14px;
  }

  &-table {
    width: 100%;
    border-collapse: collapse;

    &-head {
      width: 100%;

      &-tr {
        min-height: 48px;
        height: 48px;
        width: 100%;
        background-color: $background-color-title;
        border: 1px solid $border-color;

        &-th {
          box-sizing: border-box;
          padding: 0 12px;
          text-align: left;
          font-size: 14px;
          color: $text-color-prompt;
          letter-spacing: 0;
          line-height: 16px;

          &-checked {
            background: #f8dbd8;
          }

          &-div {
            white-space: nowrap;
          }
        }
      }
    }

    &-tr {
      min-height: 48px;
      height: 48px;
      background-color: $nothing-color;
      border: 1px solid $border-color;

      &:nth-child(2n) {
        background-color: $background-color-even;
      }

      &:hover {
        background-color: $tr-hover-color;
      }

      &-td {
        box-sizing: border-box;
        padding: 0 12px;
        text-align: left;
        font-size: 14px;
        color: $title-color;
        letter-spacing: -0.3px;
        line-height: 16px;

        &-checked {
          background: #ffefed;
        }

        &-div {
          white-space: nowrap;

          &-required {
            color: $auxiliary-color-danger;
          }
        }
      }

      &-disabled {
        background-color: $background-color-main !important;
      }
    }
  }
}

.border {
  border: 1px solid $border-color;
}
