.#{$prefix}title {
  background: $background-color-title;
  padding: 13px 0;

  &-popper {
    width: 208px;
    white-space: normal;
  }

  &-panel {
    @include border(left,$border-on-color,2px);

    color: $title-color;
    letter-spacing: 1.08px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    padding-left: 8px;
    margin-left: 16px;
    position: relative;
  }
}
