.#{$prefix}datetime {
  position: relative;
  font-size: 12px;

  &-main {
    height: 317px;
    width: 100%;
    background: $nothing-color;

    &-position {
      @include border();
      @include box-shadow(y);

      position: absolute;
      left: 0;
      top: 40px;
      z-index: 2;
      border-radius: $radius-size;
    }
  }

  &-type {
    height: 258px;
  }

  &-item {
    height: 234px;
  }

  &-time {
    &-header {
      @include border(bottom);

      text-align: center;
      height: 32px;
      line-height: 32px;
      width: 100%;
      display: block;
      color: $menu-text-color;
    }
  }

  &-btn {
    @include border();

    width: 100%;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    border-radius: $radius-size;

    &:hover {
      @include border(all, $btn-hover-color);
    }

    &:active {
      @include border(all, $btn-active-color);
    }

    &-text {
      padding: 0 8px;
      text-align: left;
      display: block;
      color: $text-color;

      &-choice {
        color: $menu-text-color;
      }
    }
  } // end emfe-date-btn

  &-icon {
    position: absolute;
    right: 8px;
    top: 0;
    line-height: 32px;
    height: 32px;
  }

  &-footer {
    @include border(top);
    @include clearfix();

    justify-content: flex-end;
    padding: 8px;
    margin-top: 8px;
  }

  &-ok {
    padding: 0 24px;
    height: 32px;
    line-height: 32px;
    background: $btn-color;
    color: $nothing-color;
    border-radius: $radius-size;
    cursor: pointer;
    float: right;

    &:hover {
      background: $btn-hover-color;
    }

    &:active {
      background: $btn-active-color;
    }
  }

  &-settype {
    float: left;
    height: 32px;
    line-height: 32px;
    color: $btn-color;
    cursor: pointer;

    &:hover {
      color: $btn-hover-color;
    }

    &:active {
      color: $btn-active-color;
    }
  }
}
