.#{$prefix}pagination {
  @include clearfix();

  &-item {
    @include border();

    min-width: 36px;
    text-align: center;
    color: $text-color-default;
    padding: 0 5px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 28px;

    &:nth-of-type(1) {
      margin-left: 0;
      padding: 0 12px;
    }

    &:last-child {
      padding: 0 12px;
    }

    &:hover {
      @include border(all, $btn-hover-color);
    }

    &-on {
      background-color: $background-active-color;
      color: $background-color-write;
      border: none;
      line-height: 34px;
    }

    &-on:hover {
      border: none;
    }
  }

  & .disabled {
    display: none;
  }
}
